html{
    scroll-behavior:smooth ;
}

.menu{
    background-color: black;
    padding: 2%;
}


.itens_menu{
    text-align: center;
}

.itens_menu a:link {
    text-decoration: none;
    color: violet;
    font-family: courier;
  }
  
.itens_menu a:visited {
    text-decoration: none;
    color: violet
   
 }
  
 .itens_menu a:hover {
    text-decoration: none;
    font-size: 120%;
  }
  
  .itens_menu a:active {
    text-decoration: line-through;
    color: white;
  }

.logo{
    font-family: fantasy;
}

body{
    background-color:#1c1c1c ;
    font-family: HELVETICA;
    color: WHITE;
}

.img_topo{
    width: 100%;

}


.img_corpo{
    width: 50%;
}

figure{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3em;
    font-family: fantasy;
    
}

p{
    font-size: 1.5em;
    text-align: justify;
    text-indent: 35px;
    line-height: 1.5;
    font-family: monospace;
    text-align: left;
}


.parag_letras > p{
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5;
    text-indent: 35px;
    font-family: monospace;
    margin: auto;
}

.botao{
  width: 130px;
  height: 20px;
  background-color: violet;
  padding: 1%;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;
    
}

.botao p{
    padding-top: 9px;
    padding-left: 6px;
    color: #1c1c1c ;
    
}

.botao a:hover{
    background-color: blueviolet;
}

footer{
    background-color: BLACK;
    padding-top: 2%;
    padding-bottom: 2%;
    color: violet;
    font-family: courier;
    text-align: center;
    
}

footer p{
    font-size: 1em;
    text-indent: 35px;
    text-align: center;
    line-height: 5px;

}

.centro{
    text-align: center;
}

.nota_sobre{
    color: whitesmoke;
    font-style: italic;
    font-size: 1em;
    padding-bottom: 5%;
}

.eumesmo{
  width: 300px;
  float: right;
  margin-left: 20px;
}

.texto_sobre{
    
    padding-right: 20%;
    padding-left: 20%;
    text-align: justify;
}

a:link {
    text-decoration: none;
    color: violet;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none
  }
  
  a:active {
    text-decoration: none
    color white }

  .texto_top{
    
    padding-right: 20%;
    padding-left: 20%;
    text-align: justify;
}

.texto_id{
    
    padding-right: 20%;
    padding-left: 20%;
    text-align: justify;
}

.texto_ts{
    
    padding-right: 20%;
    padding-left: 20%;
    text-align: justify;
}

.texto_lp{
    
    padding-right: 20%;
    padding-left: 20%;
    text-align: justify;
}

.banda_oficial{
    color: whitesmoke;
    font-style: italic;
    font-size: 1.5em;
    padding-top: 2%;
    padding-bottom: 5%;
}

.top{
    width: 100%;
}

.id{
    width: 100%;
}

.ts{
    width: 100%;
}

.lp{
    width: 100%;
}

h2{
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
    font-family: fantasy;
    
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: ridge 2px violet; 
    padding-top: 0.5% ;   
    padding-bottom: 0.5%;
    font-family: monospace;

}


  








